p {
    text-align: center;
    color: white;
    text-decoration: underline;
    letter-spacing: 3px;
    text-shadow: 3px 2px rgb(12, 12, 12);
    font-size: 50px;

    color: #ffffff; font-family: 'Lato', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 58px;

}

.firstcat, .secondcat {
    width: 50%;
    height: 100%;
   
}

body{
    background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
}

.container {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;

}


